#title {

  display: block;

  font-weight: bold;
  font-size: 4em;
  text-align: center;

  margin: .7em auto;

  color: var(--elect-brown);

  animation: stain 3s infinite linear;

}

@keyframes stain {
  /* to {color: var(--elect-brown2)} */

  0% {
    color: var(--elect-brown)
  }

  50%, 100% {
    color: var(--elect-brown2)
  }

}