body {
  margin: 0;
  
  height: 5000px;

  --purple: rgb(69, 0, 132);
  --mid_purple: rgb(93, 25, 156);
  --gold: rgb(203, 182, 119);
  --dark_gold: rgb(173, 156, 101);

  --elect_brown: rgb(187, 101, 92);
  --redwood: rgb(164, 90, 82);
  --redwood2: rgb(153, 80, 70);
  --camel: rgb(193, 154, 107);
  --beige: rgb(204, 168, 126);

  background-image: url(https://images.pexels.com/photos/164005/pexels-photo-164005.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);

  background-repeat: repeat;
  background-color: var(--beige);
}

#header {
  border: 10px solid var(--camel);
}

/*Top Bar*/
.title {
  display: flex;
  justify-content: center;
  text-decoration: none;

  padding-top: 1em;
  padding-bottom: .5em;

  font-size: 5em;
  font-family:'Lucida';
  font-weight: 500;
  

  background-color: var(--redwood);
  color: white;
}

/*nav bar*/
.navlinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;

  list-style-type: none;
  
  padding: 0;
  margin: 0;
  
  background-color: var(--redwood);
}

/*Individual links*/
.navlink > a {
  display: inline-block;
  text-decoration: none;
  font-size: 30px;
  font-family: "FreeMono", monospace;

  padding: 20px;
  padding-top: 20px;
  padding-bottom: 20px;

  color: var(--gold);
}

.navlink > a:hover {
  background-color: var(--redwood2);
}


