body {
  display: flex;
  position: relative;

  flex-direction: column;

  margin: 0;
  height: 2000px;

  --purple: rgb(69, 0, 132);
  --mid_purple: rgb(93, 25, 156);
  --gold: rgb(203, 182, 119);
  --dark_gold: rgb(173, 156, 101);

  --elect_brown: rgb(187, 101, 92);
  --redwood: rgb(164, 90, 82);
  --redwood2: rgb(153, 80, 70);
  --camel: rgb(193, 154, 107);
  --beige: rgb(204, 168, 126);

  background-image: url(https://images.pexels.com/photos/164005/pexels-photo-164005.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);

  background-repeat: repeat;
  background-color: var(--beige);
}

#header {
  display: flex;
  flex-direction: column;
  justify-content: center;

  border: 10px solid var(--camel);
  background-color: var(--redwood);
}

#title-box {
  display: flex;
  position: relative;

  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 200px;
}

/*Title text*/
.title {
  display: flex;
  position: absolute;
  text-decoration: none;

  font-size: 5em;
  font-family:'Lucida';
  font-style: italic;
  font-weight: 500;
  
  color: white;

  transition: 0.2s;
}

nav {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;

  list-style-type: none;
  
  padding: 0;
  margin: 0;

  transition: 0.5s
  
}

.menu-icon {
  display: none;
  margin-bottom: 15px;
}

/*Individual links*/
.navlink > a {
  display: inline-block;
  text-decoration: none;
  font-size: 30px;
  font-family: "FreeMono", monospace;

  text-align: center;

  padding: 20px;
  padding-top: 20px;
  padding-bottom: 20px;

  color: var(--gold);

}

/*Individual Link box*/
.navlink {
  transition: 0.3s;
}

.navlink:hover {
  background-color: var(--redwood2);
}

.title:hover {
  font-size: 5.2em;
}


/*CSS for the main section of the page*/

#main {
  display: flex;

  flex-direction: column;
  flex-grow: 1;

  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;

  border: 7px solid var(--redwood2);

  background-color: var(--beige);

}


h1 {
  display: block;

  font-size: 45px;
  text-align: center;
}

p {
  display: block;

  margin-left: 100px;
  margin-right: 100px;

  font-size: 25px;
  text-align: left;
}


/*Under width threshold*/
@media (max-width: 1100px) {

  .navBar {
    display: none;

    position: absolute;
    margin-top: 450px;

    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    text-align: center;

    background-color: var(--redwood);
  }

  .menu-icon {
    display: block;
  }

  .menu-icon:hover rect {
    fill: rgb(82, 81, 81);
  }

  .menu-icon:active rect {
    fill: black;
  }

}

/*Under width threshold*/
@media (min-width: 1101px) {

  .navBar {
    display: flex;
  }


}